*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


button{
    border: none;
    width: 50px;
    height: 20px;
    background-color: red;

}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftitem, .rightitem{
    display: flex;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
}